#content
  #profile
    .about
      - var imgPhoto = congresist.photo ? "/uploads/"+congresist.photo : "/images/photo.jpg";
      .photo-inner: img(src=imgPhoto, height="186", width="153")
      h1!= congresist.name
      h3!= congresist.position
      p I like to make cool and creative designs. My design stash is always full of refreshing ideas.
    ul.personal-info
      li
        label Name
        span!= congresist.name
      li
        label Birthday
        span!= congresist.birthDate
      li
        label Married
        span
            - if (congresist.status) {
              | Casado
            - } else {
              | Soltero
            - }
      li
        label Email
        span A.smith@gmail.com
      li
        label Partido
        span!= party.name
  .menu
    ul.tabs
      li.tmenu: a(href="#profile", class="tab-profile") Perfil
      li.tmenu: a(href="#news", class="tab-news") Noticias
      li.tmenu: a(href="#projects", class="tab-projects") Propuestas
      li.tmenu: a(href="#votes", class="tab-projects") Votos
  #news
    div
      h3.main-heading: span Noticias
      ul.timeline
        each article in news
          li
            .timelineUnit
              h4= article.title
                span.timelineDate= article.created_at
              h5= article.link
              p= article.summary
        .clear
    .clear
  #projects
    .extra-text Leyes
      ul#projects-list
        each project in projects
          li.illustration.print
            a.projects(href=path_to.project(project))
              img(src="http://lorempixel.com/180/120", alt=project.name)
              h2.title!= project.name
              span.categorie!= project.approval
      .clear
  #votes
    .extra-text Votos
    ul#portfolio-list
    .clear
